<h3>Add a Train</h3>

<form action='/system_operator/add_train' method='post'>
  <label for='train_name'>Name</label>
  <input id='train_name' name='train_name' type='text'>
  <button type='submit' class='btn-danger'>Add</button>
</form>
